.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store
*.lnk
*.gsheet
*.gdoc
*.gslides
*.gform
*.gdraw
*.mp4
Docs Originales Convertidos
UTN FRRe ISI - Fari-20250710T193422Z-1-004.zip
UTN FRRe ISI - Fari-20250710T193422Z-1-003.zip
Docs Convertidos AppScript